@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/*body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}*/

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



* {
  margin: 0;
  padding: 0;
  
}

html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(247, 244, 244);
 
}

.navbar {
  background-color:lightseagreen;
  display:flex;
  position: relative;
  justify-content: center;
  height:55px;
  padding:5px;
  font-weight: 900;
  align-items: center;
}

.navbar a {
  
  color: white;
  margin-right: 20px;
  text-decoration: none;
}

.hide{
  cursor: pointer;
}



.randomBtn {

  justify-content: center;
  border-radius: 10%;
  border-color: lightseagreen;
  background-color: white;


  width: 45px;
  height: 45px;

}

.search {
  width: 250px;
  height: 35px;
  
  margin-left: 10px;
}

